<ion-view name="challenge" view-title="Challenge">
  <ion-header-bar class="bar-positive">
    <div>
      <button class="button button-clear icon-left ion-ios-undo-outline" ng-click="goBackView()"></button>
    </div>
    <h1 class="title" align-title="center">Challenge</h1>
  </ion-header-bar>

  <ion-content>
    <div class="list">
      <div class="item item-divider"> Friends list </div>
      <div class="item item-button-right" ng-repeat="items in userFriendsList">
        <div class="buttons">
          <button ng-class="{'button button-positive ink': items.status == 'normal',
                            'button button-assertive ink': items.status == 'challenged',
                            'button button-stable ink': items.status == 'challenging' && items.isHave == false,
                            'button button-royal ink': items.status == 'challenging' && items.isHave == true,
                            'button button-balanced ink': items.status == 'not_viewed'}" ng-click="changeChallenge({{items}})">
          <i ng-class="{'icon ion-paper-airplane': items.status == 'normal',
                        'icon ion-checkmark': items.status == 'challenged',
                        'icon ion-ios-pulse': items.status == 'challenging' && items.isHave == false,
                        'icon ion-load-d': items.status == 'challenging' && items.isHave == true,
                        'icon ion-ios-information-empty': items.status == 'not_viewed'}"></i>
            <i ng-class="{'{{items.iconStyle}}': true}"></i>
          </button>
          <button class="button button-light ink" ng-click="viewMutualProfile({{items}})">
            <i class="icon ion-ios-information-outline"></i>
          </button>
        </div>
        {{items.name}}
      </div>
    </div>
  </ion-content>
</ion-view>
