<ion-view name="challenge" view-title="Challenge">
  <ion-content>
    <div class="list">
      <div class="item item-divider"> Friends list </div>
      <div class="item item-button-right" ng-repeat="items in userFriendsList">
        <div class="buttons">
          <button ng-class="{'button button-positive ink': items.status == 'normal',
                            'button button-assertive ink': items.status == 'challenged',
                            'button button-stable ink': items.status == 'challenging',
                            'button button-balanced ink': items.status == 'not_viewed'}" ng-click="changeChallenge({{items}})">
          <i ng-class="{'icon ion-paper-airplane': items.status == 'normal',
                        'icon ion-checkmark': items.status == 'challenged',
                        'icon ion-ios-pulse': items.status == 'challenging',
                        'icon ion-ios-information-empty': items.status == 'not_viewed'}"></i>
            <i ng-class="{'{{items.iconStyle}}': true}"></i>
          </button>
          <button class="button button-light ink" ng-click="viewMutualProfile({{items}})">
            <i class="icon ion-android-alert"></i>
          </button>
        </div>
        {{items.name}}
      </div>
    </div>
  </ion-content>
</ion-view>
