<ion-modal-view name="challenge-modal" class="modalStyle">
  <ion-header-bar ng-class="{'bar-balanced': result == 'YOU WIN',
                            'bar-assertive': result == 'YOU LOSE'}" align-title="center">
    <div class="title">
      {{result}}
    </div>
    <button class="button button-clear button-primary ion-ios-redo-outline" ng-click="goToStatChange()"></button>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <div class="item item-divider">
        <div class="row">
          <div class="col col-offset-33"></div>
          <div class="col col-33 text-center item-text-wrap">You</div>
          <div class="col col-33 text-center item-text-wrap">{{oppName}}</div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col col-offset-100">
            
          </div>
        </div>
      </div>
      <div class="item item-divider">
        Score
      </div>
      <div class="item">
        <div class="row">
          <div class="col col-offset-33"></div>
          <div class="col col-33 text-center item-text-wrap">{{userResult.score}}</div>
          <div class="col col-33 text-center item-text-wrap">{{oppResult.score}}</div>
        </div>
      </div>
      <div class="item item-divider">
        Time
      </div>
      <div class="item">
        <div class="row">
          <div class="col col-offset-33"></div>
          <div class="col col-33 text-center item-text-wrap">{{userResult.time / 1000}}s</div>
          <div class="col col-33 text-center item-text-wrap">{{oppResult.time / 1000}}s</div>
        </div>
      </div>
      <div class="item item-divider">
          Questions
      </div>
      <div class="item" ng-repeat="userAns in userResult.questions">
        <div class="row">
          <div class="col col-33 item item-text-wrap">{{userAns.description}}</div>
          <div class="col col-33 text-center" ng-class="{'icon ion-close assertive': userAns.is_correct == false,
            'icon ion-checkmark-round balanced': userAns.is_correct == true}"></div>
          <div class="col col-33 text-center" ng-class="{'icon ion-close assertive': oppResult.questions[$index].is_correct == false,
            'icon ion-checkmark-round balanced': oppResult.questions[$index].is_correct == true}"></div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
