<ion-view name="menu" view-title="Menu">
  <ion-content>

    <div class="button-categories-group ">
      <img class="image-login" src="img/wallpaper.jpg">
      <div class="col text-center button-categories">
        <button class="button  bar-balanced button-fab" ng-click="play()">
          <i class="icon ion-play"></i>
        </button>
        <i class="textview animated fadeInRightBig">
          TRAINING
        </i>
      </div>
      <div class="col text-center button-categories">
        <button class="button  bar-balanced button-fab " ng-click="challenge()">
          <i class="icon ion-knife"></i>
        </button>
        <i class="textview animated fadeInRightBig">
          CHALLENGE
        </i>
      </div>
      <div class="col text-center button-categories">
        <button class="button  bar-balanced button-fab" ng-click="profile()">
          <i class="icon ion-person"></i>
        </button>
        <i class="textview animated fadeInRightBig">
          PROFILE  
        </i>
      </div>
      <div class="col text-center button-categories">
        <button class="button  bar-balanced button-fab " ng-click="logout()">
          <i class="icon ion-power"></i>
        </button>
        <i class="textview animated fadeInRightBig">
          LOGOUT  
        </i>
      </div>
    </div>

  </ion-content>
</ion-view>
