<ion-view name="menu" view-title="Menu">
  <ion-content>
    <label class="item item-text-wrap">
      <button class="button button-block button-calm-900" ng-click="play()">
        <i class="icon ion-play"></i> Play
      </button>
    </label>
    <label class="item item-text-wrap">
      <button class="button button-block button-energized-900" ng-click="challenge()">
        <i class="icon ion-knife"></i> Challenge
      </button>
    </label>
    <label class="item item-text-wrap">
      <button class="button button-block button-balanced-900" ng-click="profile()">
        <i class="icon ion-person"></i> Profile
      </button>
    </label>
    <label class="item item-text-wrap">
      <button class="button button-block button-assertive-900" ng-click="logout()">
        <i class="icon ion-power"></i> Logout
      </button>
    </label>
  </ion-content>
</ion-view>
