
.card-change{
  background-color: #0FE213 ;
}
.scroll{
  height: 100%;
}
.full-height{
  height: 100%;
}
.card-question{
  position: absolute;
  height: 30%;
  width: 100%;
}
.answer-row{
  height: 25%;
  top:40%;
}
.card{
	text-align: center;
}
.blur {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
  pointer-events: none;
}
.resultButton {
  position: absolute;
  top:150px;
  text-decoration: bold;
  font-weight: bolder;
  font-size: -webkit-xxx-large;
  font-family: cursive;
  width: 100%;
  text-align: center;
  }
.sample-show-hide {
	-webkit-transition:all linear 1s;
	transition:all linear 1s;
}

.sample-show-hide.ng-hide {
  opacity:0;
}
.card-categories{
  display: inline-block;
  width: 45%;
}