
.card-change{
  background-color: #0FE213 ;
}
.scroll{
  height: 100%;
}
.full-height{
  height: 100%;
}
.card-question{
  position: absolute;
  height: 30%;
  width: 100%;
}
.answer-row{
  height: 25%;
  top:40%;
}
.card{
	text-align: center;
}
.blur {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
  pointer-events: none;
}
.resultButton {
  position: absolute;
  top:30%;
  font-weight: bolder;
  font-size: -webkit-xxx-large;
  font-family: ;
  color: #776E65;
  width: 100%;
  text-align: center;
  }
.sample-show-hide {
	-webkit-transition:all linear 0.5s;
	transition:all linear 0.5s;
}

.sample-show-hide.ng-hide {
  opacity:0;
}
.card-categories{
  display: inline-block;
  width: 45%;
}

.progress-bar[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;
  position: absolute;
  top: -2%;
  height: 3px;
}

.progress-bar[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 1px;
}

.progress-bar[value]::-webkit-progress-value {
  background-color: blue;
  background-image:
     -webkit-linear-gradient(left);
    border-radius: 5px; 
}
.warning[value]::-webkit-progress-value{
  background-color: red;
}
.question-bar[value]{
  -webkit-appearance: none;
   appearance: none;
  position: absolute;
  top: 96%;
  height: 10px;
}

.question-bar[value]::-webkit-progress-bar {
  background-color: #eee;
  
}

.question-bar[value]::-webkit-progress-value {
  background-color: ;
  background-image:
     -webkit-linear-gradient(left);
   
}
.red{
  background-color: red;
}
.blue{
  background-color: blue;
}

.question-row{
  position: absolute;
  bottom: 0%;
}
.question-bar{
  height: 3px;
  margin-left: 3px;
  padding: 0px;
}

.resultsButton {
  position: absolute;
  top:30%;
  font-weight: bolder;
  font-size: -webkit-xxx-large;
  width: 100%;
  text-align: center;
}
.redQuestionsResult{
  color: red;
}
.blueQuestionsResult{
  color: blue;
}

.result-button-scoreboard{
  position: absolute;
  left: 40%;
  top:40%;
  font-weight: bolder;
  font-size: -webkit-xxx-large;
  width: 100%;
  text-align: center;
}

.result-button-retry{
  position: absolute;
  left: 55%;
  top:40%;
  font-weight: bolder;
  font-size: -webkit-xxx-large;
  width: 100%;
  text-align: center;
}

