
.card-change{
  background-color: #0FE213 ;
}
.scroll{
  height: 100%;
}
.full-height{
  height: 100%;
}
.card-question{
  position: absolute;
  height: 30%;
  width: 100%;
}
.answer-row{
  height: 25%;
  top:40%;
}
.card{
	text-align: center;
}
.blur {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
  pointer-events: none;
}
.resultButton {
  position: absolute;
  top:30%;
  font-weight: bolder;
  font-size: -webkit-xxx-large;
  font-family: GoodDog;
  color: #776E65;
  width: 100%;
  text-align: center;
  }

.card-categories{
  box-shadow: 0;
  display: inline-block;
  width: 48%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
}

.categories-name{
  padding: 10px;
}

.progress-bar[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;
  position: absolute;
  top: -2%;
  height: 3px;
}

.progress-bar[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 1px;
}

.progress-bar[value]::-webkit-progress-value {
  background-color: blue;
  background-image:
     -webkit-linear-gradient(left);
    border-radius: 5px;
}
.warning[value]::-webkit-progress-value{
  background-color: red;
}
.question-bar[value]{
  -webkit-appearance: none;
   appearance: none;
  position: absolute;
  top: 96%;
  height: 10px;
}

.question-bar[value]::-webkit-progress-bar {
  background-color: #eee;

}

.question-bar[value]::-webkit-progress-value {
  background-color: ;
  background-image:
     -webkit-linear-gradient(left);

}
.red{
  background-color: red;
}
.blue{
  background-color: blue;
}

.question-row{
  position: absolute;
  bottom: 0%;
}
.question-bar{
  height: 3px;
  margin-left: 3px;
  padding: 0px;
}

.resultsButton {
  font-family: GoodDog;
  position: absolute;
  top:30%;
  font-size: 6em;
  width: 100%;
  text-align: center;
}
.redQuestionsResult{
  color: red;
}
.blueQuestionsResult{
  color: blue;
}

.result-button-scoreboard{
  position: absolute;
  left: 40%;
  top:40%;
  font-weight: bolder;
  font-size: -webkit-xxx-large;
  width: 100%;
  text-align: center;
}

.result-button-retry{
  position: absolute;
  left: 55%;
  top:40%;
  font-weight: bolder;
  font-size: -webkit-xxx-large;
  width: 100%;
  text-align: center;
}

.button-outline.play-button{
  position: relative;
  font-family: GoodDog;
  font-weight: 100;
  font-size: 1em;
  width: 20px;
  padding: 0;
  margin-left:30%;
  margin-right:30%;
  border-radius: 50% 50%;
  color: #2F5D5D;
}

.image-login{
  background-repeat:no-repeat;
  width: 100%;
  height: 100%;
  z-index: 200;
  position: absolute;
  top: 0%;
}
.button-categories-group{
  position: absolute;
  width: 100%;
  height: 100%;
}
.button-categories{
  z-index: 300;
  margin-top: 5%;
  margin-left: 10%;
}

.textview{
  margin-left: 2%;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: 2px;
  position: relative;
  color: #285858;
  pointer-events: none;
  z-index: 9999;
}
.item-note{
  color: black;
}

.login-text{
  position: absolute;
  top:30%;
  font-size: 4em;
  color: #285858;
  font-family: waker;
  z-index: 9999;
}

.login-play-row{
  position: absolute;
  top:45%;
  font-size: 2em;
  color: #2F5D5D;
  font-family: waker;
  z-index: 9999;
}

.ss{
  margin-left: inherit;
}

.modalStyle {
  min-height: 0;
  width: 80%;
  height: 60%;
  top: 20%;
  bottom: 20%;
  right: 10%;
  left: 10%;
  border: 1px solid black;
  border-radius: 8px !important;
  overflow: hidden !important;
}

.statusChangeRed {
  color: red;
}

.statusChangeGreen {
  color: green;
}
